.auth-sr-terms-privacy {
  font-size: 14px;
  .auth-sr-terms-privacy-text1 {
    font-size: 12px;
  }
}
.auth-otpInput {
  .otpInput {
    margin: 0 0.2em;
    text-align: center;
    font-size: 1.2em;
  }
  .otpInput-width-4 {
    width: 4em;
  }
}
