.auth-main-nl .btn {
  --bs-btn-border-radius: 20px;
  --bs-btn-font-size: 16px;
  min-width: 165px; }

.auth-main-nl .btn-primary {
  --bs-btn-bg: #f48830;
  --bs-btn-disabled-bg: #ecb666;
  --bs-btn-hover-bg: #f48830;
  --bs-btn-border-color: #f48830;
  --bs-btn-disabled-border-color: #ecb666;
  --bs-btn-hover-border-color: #f48830;
  --bs-btn-active-bg: #f48830;
  --bs-btn-active-border-color: #f48830; }

@media (max-width: 786px) {
  .auth-main-nl .btn {
    --bs-btn-font-size: 14px; } }

.auth-main-nl .modal .btn,
.auth-main-nl .btn-sm .btn {
  min-width: 0px !important;
  --bs-btn-padding-y: 6px;
  --bs-btn-padding-x: 20px; }

.auth-main-nl .modal .btn,
.auth-main-nl .btn-sm .placeholder-glow .btn {
  min-width: 100px !important;
  --bs-btn-padding-y: 6px;
  --bs-btn-padding-x: 20px; }

.auth-main-nl .btn {
  --bs-btn-font-size: 18px;
  --bs-btn-font-family: "cs-Segoe UI Bold"; }
